<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>gBlog</title>

        <link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/css/simpleTemplate.css') }}">
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" >

    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li><a href="{{ path('homepage') }}" ><i class="icon ion-home margin-r-5"></i>Home</a></li>
                      <li ><a href="{{ path('categories') }}" ><i class="icon ion-archive margin-r-5"></i>Categorie</a></li>
                      {% block menuContent %}{% endblock %}
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon ion-person user-icon"></i>{{app.user.username}}</a>
                      <ul class="dropdown-menu">
                          <li><a href="{{path('user_show' , {'id': app.user.id })}}">Profilo</a></li>
                          <li><a href="{{path('admin_index')}}">Area admin</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="{{path('logout' )}}">Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>

        </header>
        <div class="container">
            {% block mainContent %}{% endblock %}

        <script type="text/javascript" src="{{ asset('dist/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('dist/js/bootstrap.min.js') }}"></script>
    </body>
</html>
