{% extends '@template/base.html.twig' %}

{% block menuContent %}

{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="col-xs-12">
        <ul>
            {% for cat in categories %}
            <li><a href="{{ path('post_by_category', {'name': cat.name}) }}">{{cat.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <section class="card primary-card">
            <h1>{{ attribute(postList , 0).title }}</h1>
            <div class="card-body">
                {{ attribute(postList , 0).content|raw }}
            </div>
        </section>

    </div>
</div>
<div class="row">
    {% for i in 1..2  %}
    <div class="col-xs-12 col-md-6">
        <section class="card">
            <div class="card-header">
                <h2>
                    {{ attribute(postList , 0).title }}
                </h2>
            </div>
            <div class="card-body">
                <p>questo sarebbe il post numero {{ i }}</p>
            </div>
        </section>
    </div>
    {% endfor %}
</div>
<div class="row">
    {% for i in 1..6  %}
    <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="card">
            <div class="card-header">
                <h2>
                    {{ attribute(postList , 0).title }}
                </h2>
            </div>
            <div class="card-body">
                <p>questo sarebbe il post numero {{ i }}</p>
            </div>
        </section>
    </div>
    {% endfor %}
</div>
</div>{% endblock %}
