{% extends '@gBlogTemplate/admin/page.html.twig' %}

{% block moduleName %}category{% endblock %}

{% block breadcrumb %}
    <li><i class="fa fa-{{ icons[block('moduleName')] }} margin-r-5"></i><a href="{{path('posts_index')}}">{{ block('moduleName') }}</a></li>
    <li class="active">modifica</li>
{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="col-xs-9">
        {% embed '@gBlogTemplate/admin/snippets/box-default.html.twig' %}
            {% block boxHeader %}<a href="{{ path('categories_index') }}" class="btn btn-lg  btn-danger"><i class="fa fa-arrow-left margin-5-left"></i>inditero</a>{% endblock %}
            {% block boxBody %}
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" />
                {{ form_end(edit_form) }}
            {% endblock %}
        {% endembed %}

    </div>

    <div class="col-xs-3">
        {{ form_start(delete_form) }}
        <button  type="submit" class="btn btn-block btn-warning" value="Delete"> <h4>Cancella categoria</h4> </button>
        {{ form_end(delete_form) }}
    </div>
</div>


{% endblock %}
