{% extends '@gBlogTemplate/admin/page.html.twig' %}

{% block headerContent %}
<div class="row">
    <div class="col-xs-12">
        <div class="small-box bg-green">
            <div class="inner">
                CATEGORIE
            </div>

        </div>
    </div>
</div>
<ol class="breadcrumb" style="margin-right:15px">
    <li> <a href="{{ path('categories_index') }}"><i class="fa fa-archive"></i> Categorie</a> </li>
    <li class="active">modifica</li>
    <li class="active">{{ category.id }}</li>
</ol>
{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="col-xs-9">
        <div class="box box-warning">
            <div class="box-header">
                <ul>
                    <li>
                        <a href="{{ path('categories_index') }}">Back to the list</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>

            </div>
            <div class="box-body">

                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" />
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>

    <div class="col-xs-3">

    </div>
</div>


{% endblock %}
