{% extends '@gBlogTemplate/admin/page.html.twig' %}

{% block moduleName %}category{% endblock %}

{% block breadcrumb %}
    <li><i class="fa fa-{{ icons[block('moduleName')] }} margin-r-5"></i><a href="{{path('posts_index')}}">{{ block('moduleName') }}</a></li>
    <li class="active">nuovo</li>
{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="col-xs-9">

        {% embed '@gBlogTemplate/admin/snippets/box-default.html.twig' %}
            {% block boxHeader %}<a href="{{ path('categories_index') }}" class="btn btn-lg btn-danger"><i class="fa fa-arrow-left margin-5-left"></i>inditero</a>{% endblock %}
            {% block boxBody %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Aggiungi" class="btn btn-success" />
                {{ form_end(form) }}
            {% endblock %}
        {% endembed %}
    </div>


    <div class="col-xs-3">
        {% embed '@gBlogTemplate/admin/snippets/info.html.twig' %}
            {% block infoHeader %}
                <i class="fa fa-database margin-r-5">Lista categorie</i>
            {% endblock %}
            {% block infoContent %}
                {% for cat in categories %}
                    <p><strong> <a href="{{ path('category_show', {'id': cat.id}) }}"><i class="fa fa-archive margin-r-5"></i></a>{{cat.name}}</strong></p>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </div>
</div>
{% endblock %}
