{% extends '@gBlogTemplate/admin/page.html.twig' %}

{% block moduleName %}post{% endblock %}

{% block breadcrumb %}
<li ><i class="fa fa-{{ icons[block('moduleName')] }} margin-r-5"></i><a href="{{path('posts_index')}}">{{ block('moduleName') }}</a></li>
<li iclass="active">nuovo</li>

{% endblock %}


{% block mainContent %}
<div class="row">
    <div class="col-xs-9">
        <div class="box box-warning">
            <div class="box-header">
                <a href="{{ path('posts_index') }}" class="btn btn-danger"><i class="fa fa-arrow-left"></i>vedi tutti</a>
            </div>
            <div class="box-body">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Create" />
                {{ form_end(form) }}
            </div>

        </div>
    </div>

    <div class="col-xs-3">
        {% embed '@gBlogTemplate/admin/snippets/info.html.twig' %}
            {% block infoHeader %}
                <i class="fa fa-database margin-r-5">Lista categorie</i>
            {% endblock %}
            {% block infoContent %}

            {% endblock %}
        {% endembed %}

        {% embed '@gBlogTemplate/admin/snippets/info.html.twig' %}
            {% block infoHeader %}
                <i class="fa fa-tag margin-r-5">Tags disponibili</i>
            {% endblock %}
            {% block infoContent %}

            {% endblock %}
        {% endembed %}
    </div>
</div>
{% endblock %}
