{% extends '@gBlogTemplate/admin/page.html.twig' %}

{% block moduleName %}post{% endblock %}

{% block breadcrumb %}
<li><i class="fa fa-{{ icons[block('moduleName')] }} margin-r-5"></i><a href="{{path('posts_index')}}">{{ block('moduleName') }}</a></li>
<li class="active">anteprima</li>

{% endblock %}

{% block mainContent %}
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if post.creationDate %}{{ post.creationDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ post.status }}</td>
            </tr>
            <tr>
                <th>Publishdate</th>
                <td>{% if post.publishDate %}{{ post.publishDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Created by</th>
                <td>{{ post.user }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ post.category }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('posts_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
