{% extends '@gBlogTemplate/admin/page.html.twig' %}

{% block moduleName %}media{% endblock %}

{% block mainContent %}
    <h1>Media list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Placeholder</th>
                <th>Tpye</th>
                <th>Uploaddate</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medium in media %}
            <tr>
                <td><a href="{{ path('media_show', { 'id': medium.id }) }}">{{ medium.id }}</a></td>
                <td>{{ medium.nome }}</td>
                <td>{{ medium.placeholder }}</td>
                <td>{{ medium.tpye }}</td>
                <td>{% if medium.uploadDate %}{{ medium.uploadDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ medium.path }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('media_show', { 'id': medium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('media_edit', { 'id': medium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('media_new') }}">Create a new medium</a>
        </li>
    </ul>
{% endblock %}
