{% extends '@gBlogTemplate/admin/page.html.twig' %}

{% block moduleName %}user{% endblock %}

{% block breadcrumb %}
<li><i class="fa fa-{{ icons[block('moduleName')] }} margin-r-5"></i><a href="{{path('users_index')}}">{{ block('moduleName') }}</a></li>
<li class="active">modifica</li>
{% endblock %}


{% block mainContent %}
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-header">

            </div>
            <div class="box-body">
                {{ form_start(edit_form, {'attr': {'class': 'form form-horizontal'}}) }}

                <div class="row form-group">
                    {{ form_label(edit_form.username, null, {'label_attr': {'class': 'col-xs-2 label-control'}}) }}
                    <div class="col-xs-4">
                        {{ form_widget(edit_form.username, {'attr': {'class': ' form-control'}}) }}
                    </div>
                </div>

                <div class="row form-group">
                    {{ form_label(edit_form.email, null, {'label_attr': {'class': 'col-xs-2 label-control'}}) }}
                    <div class="col-xs-5">
                        {{ form_widget(edit_form.email, {'attr': {'class': ' form-control'}}) }}
                    </div>
                </div>


                <div class="row form-group">
                    {{ form_label(edit_form.role, null, {'label_attr': {'class': 'col-xs-2 label-control'}}) }}
                    <div class="col-xs-2">
                        {{ form_widget(edit_form.role, {'attr': {'class': ' form-control'}}) }}
                    </div>
                </div>

                <div class="row form-group">
                    {{ form_label(edit_form.active, null, {'label_attr': {'class': 'col-xs-2 label-control'}}) }}
                    <div class="col-xs-1">
                        {{ form_widget(edit_form.active) }}
                    </div>
                </div>

                <div class="row form-goup">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-lg btn-flat btn-success"><i class="fa fa-save margin-r-5"></i>Crea utente</button>
                        <a href="{{ path('users_index')}}" class="btn btn-flat btn-lg btn-danger"><i class="fa fa-times margin-r-5"></i>Annulla</a>
                    </div>
                </div>
                {{ form_end(edit_form) }}

            </div>
        </div>
    </div>



{% endblock %}
