{% extends '@gBlogTemplate/admin/page.html.twig' %}

{% block moduleName %}user{% endblock %}

{% block mainContent %}
<div class="content">

    <div class="col-xs-9">
        {% embed '@gBlogTemplate/admin/snippets/box-default.html.twig' %}
            {% block boxHeader %} <a href="{{ path('user_new') }}" class="btn btn-lg"> <i class="fa fa-plus margin-r-5"></i>Nuovo utente </a> {% endblock %}
            {% block boxBody %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Posts</th>
                        <th>Active</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.posts | length }}</td>
                        <td>{% if user.active %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-flat btn-primary" title="mostra dettagli"><i class="fa fa-file-o"></i></a>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-flat btn-warning" title="modifica utente"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endblock %}
        {% endembed %}
    </div>
    <div class="col-xs-3">

    </div>



</div>
{% endblock %}
