{% extends '@gBlogTemplate/admin/page.html.twig' %}

{% block headerContent %}
<div class="row">
    <div class="col-xs-12">
        <div class="small-box bg-green">
            <div class="inner">
                TAG
            </div>

        </div>
    </div>
</div>
<ol class="breadcrumb" style="margin-right:15px">
    <li><a href="{{ path('tags_index') }}"><i class="fa fa-tag"></i> Tag</a></li>
    <li class="active">nuova</li>
</ol>
{% endblock %}

{% block mainContent %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('tags_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
